@font-face {
    font-family: 'love';
    src: url("fonts/MyLove.ttf");
}

@font-face {
    font-family: 'lovely';
    src: url("fonts/LoveRegular.ttf");
}

@font-face {
    font-family: 'noto';
    src: url("fonts/NotoSansJP-Medium.ttf");
}
body {background-color:#DD88CF; font-family:'noto';}

header table{ overflow: hidden;}
header{
    overflow: hidden;
    background-color:#4B164C;
    background-image: url("images/banner.jpeg");
    background-blend-mode:hard-light;
}
header td{ margin:auto;}

table{ text-align:center;}
td{display:inline;}
.links{color:#F5F5F5;
    margin:auto;
    font-family:'lovely';}

    h1{font-family:'lovely'; margin:auto;}

#titlu{font-family:'love'; color:#F5F5F5;}


footer{background-color:#4B164C;}

.bubble{background-color:rgba(245, 245, 245,0.5);box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);; border-radius: 10px;}
/*INTERACTIV*/

a{cursor:pointer;
text-decoration: none;}

a:hover{color:#DD88CF;}
a:active{color:#DD88CF;
    font-size: 22px;}



/*button*/
button{background-color:#4B164C;color:#F5F5F5;
border-style: none; cursor:pointer; }





/*MARIMI*/
@media only screen and (min-width: 600px)
{
    body{margin:0;}
    header{width:100%; height:100%;
    position:relative; background-position: 0px -500px; background-size: 100vw;}
    .imag img{width:100%; position:relative; bottom: 100px; }
    .imag{display:inline-block; width:33%;height: 70vh;; overflow:hidden; margin-top:100px;}
    table{margin:auto;}

button{display:inline-block;
    font-size:xx-large;
    width:25%; 
    margin:0px 10px; 
    padding:10px 0;}

#titlu{height:fit-content;}

.bubble{font-size:25px; padding:10px;}

.links{
    padding:10px;
    font-family:'lovely';
    font-size:25px;}

    h1{font-size:50px !important;
        width:fit-content;
    padding:10px;}

        #titlu{font-size:55px; font-weight: 200;}

        footer{height:50px;
            width:100%;
        }
    }


    @media only screen and (max-width: 600px)
{   
    html{ width:100vw;}
    body{margin:0;}
    header{width:100%; height:100%;
    position:relative;
    background-size: 150vw;
    background-position: -90px -100px;}
    
    .imag img{width:100%;height: 100%; position:relative;  }
    .imag{display:inline-block; width:32vw;height:22vh; overflow:hidden; margin-top:50px;}
    table{margin:auto;}

button{display:inline-block;
    font-size:xx-large;
    width:fit-content; 
    margin:0px 10px; 
    padding:10px 0;}

#titlu{height:fit-content;}

.bubble{font-size:medium; padding:10px;}

.links{
    padding:10px;
    font-family:'lovely';
    font-size:25px;}

    h1{font-size:50px !important;
        width:fit-content;
    padding:10px;}

        #titlu{font-size:55px; font-weight: 200;}

        footer{height:50px;
            width:100%;
        }
    }